<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tvcompany.salemanager">

    <uses-sdk tools:overrideLibrary="com.packagename.of.libary.with.conflict" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.OderActivity" />
        <activity android:name=".activity.ReloadImage" />
        <activity android:name=".activity.ListOder" />
        <activity android:name=".activity.ShopActivity" />
        <activity android:name=".activity.ProductSearch"/>
        <activity android:name=".activity.SpinnerActivity" />
        <activity android:name=".activity.ListShopActivity" />

    </application>

</manifest>